<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\MirasvitBlogSeoCompatibility\Model\DataProviderFactory">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="home" xsi:type="string">MageWorx\MirasvitBlogSeoCompatibility\Model\DataProvider\Home</item>
                <item name="post" xsi:type="string">MageWorx\MirasvitBlogSeoCompatibility\Model\DataProvider\Post</item>
                <item name="category" xsi:type="string">MageWorx\MirasvitBlogSeoCompatibility\Model\DataProvider\Category</item>
                <item name="author" xsi:type="string">MageWorx\MirasvitBlogSeoCompatibility\Model\DataProvider\Author</item>
                <item name="tag" xsi:type="string">MageWorx\MirasvitBlogSeoCompatibility\Model\DataProvider\Tag</item>
            </argument>
        </arguments>
    </type>
    <type name="MageWorx\MirasvitBlogSeoCompatibility\Model\Generator">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="home" xsi:type="string">home</item>
                <item name="post" xsi:type="string">post</item>
                <item name="category" xsi:type="string">category</item>
                <item name="author" xsi:type="string">author</item>
                <item name="tag" xsi:type="string">tag</item>
            </argument>
        </arguments>
    </type>
</config>